:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html,
body {
  overflow-x: clip;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
